* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  padding: 2rem;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
  color: #1a1a1a;
}

.colorShow {
  height: 200px;
  width: 200px;
  position: relative;
}
.colorShow svg {
  position: absolute;
  top: 0;
  left: 0;
}
.colorShow .selectedColor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  display: none;
}
.colorShow:has(path:hover) .selectedColor,
.selectedColor:hover {
  display: block;
}

#colorSvg {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.4));
  transition: fill 0.5s;
  animation: heartIn 3s ease 0s 1 normal forwards;
}

@keyframes heartIn {
  0% {
    fill: #6d44e4;
  }
  40% {
    fill: #bce444;
  }
  60% {
    fill: #44d7e4;
  }
  100% {
    fill: white;
  }
}

.colorPicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  animation: colorPickerIn 1.5s ease 0s 1 normal forwards;
}

.palettes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .palettes {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .palettes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.palette {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

@keyframes colorPickerIn {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

.colors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 0;
  width: 300px;
  border-radius: 0.5rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.2);
}

.color {
  height: 40px;
  cursor: pointer;
}

.color:hover {
  border: 1px solid white;
}

.color:active {
  border-top: 3px solid white;
  border-left: 3px solid white;
}

.colors .color:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}
.colors .color:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}

#original {
  .color:nth-child(1) {
    background-color: #6d44e4;
  }
  .color:nth-child(2) {
    background-color: #44a1e4;
  }
  .color:nth-child(3) {
    background-color: #44d7e4;
  }
  .color:nth-child(4) {
    background-color: #44e4bc;
  }
  .color:nth-child(5) {
    background-color: #bce444;
  }
  .color:nth-child(6) {
    background-color: #e4d744;
  }
}

#halloween {
  .color:nth-child(1) {
    background-color: #500275;
  }
  .color:nth-child(2) {
    background-color: #9b20d5;
  }
  .color:nth-child(3) {
    background-color: #edeade;
  }
  .color:nth-child(4) {
    background-color: #ff9e45;
  }
  .color:nth-child(5) {
    background-color: #ff7410;
  }
}

#horizon {
  .color:nth-child(1) {
    background-color: #9e7d07;
  }
  .color:nth-child(2) {
    background-color: #e78b00;
  }
  .color:nth-child(3) {
    background-color: #efb8bf;
  }
  .color:nth-child(4) {
    background-color: #f2f0e5;
  }
  .color:nth-child(5) {
    background-color: #4f8b87;
  }
}

#summer {
  .color:nth-child(1) {
    background-color: #30add4;
  }
  .color:nth-child(2) {
    background-color: #ff8761;
  }
  .color:nth-child(3) {
    background-color: #ffd66d;
  }
  .color:nth-child(4) {
    background-color: #f2f1e3;
  }
  .color:nth-child(5) {
    background-color: #dfa1e9;
  }
}

#candy {
  .color:nth-child(1) {
    background-color: #9e4057;
  }
  .color:nth-child(2) {
    background-color: #d2648c;
  }
  .color:nth-child(3) {
    background-color: #e3a0b8;
  }
  .color:nth-child(4) {
    background-color: #f7dce8;
  }
  .color:nth-child(5) {
    background-color: #fbb0b9;
  }
}

#cold {
  .color:nth-child(1) {
    background-color: #681270;
  }
  .color:nth-child(2) {
    background-color: #2f899d;
  }
  .color:nth-child(3) {
    background-color: #adc4b6;
  }
  .color:nth-child(4) {
    background-color: #ecece8;
  }
  .color:nth-child(5) {
    background-color: #f95875;
  }
}
